@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap");

:root {
  /* ### Primary */

  --dark-red: hsl(0, 100%, 68%);

  /* ### Neutral */

  --midnight-express: hsl(230, 29%, 20%);
  --comet: hsl(230, 11%, 40%);
  --logan: hsl(231, 7%, 65%);
  --solitude: hsl(207, 33%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
  font-family: "Barlow Condensed", sans-serif;
}
