@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap");

:root {
  /* ### Primary */

  --dark-red: hsl(0, 100%, 68%);

  /* ### Neutral */

  --midnight-express: hsl(230, 29%, 20%);
  --comet: hsl(230, 11%, 40%);
  --logan: hsl(231, 7%, 65%);
  --solitude: hsl(207, 33%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
  font-family: "Barlow Condensed", sans-serif;
}

img {
  max-width: 100%;
}

/* Header Component */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 42px;
}

.header_logo {
  width: 24px;
  height: 24px;
}

.header_menu {
  width: 24px;
  height: 16px;
}

/* Content Component */
.content-upper {
  display: flex;
  align-items: center;
  padding: 25px 42px;
}

.content-upper_alpha {
  background-color: hsl(230, 29%, 20%);
  font-family: Barlow Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 1px;
  color: #ffffff;
  width: 48px;
  height: 25px;
  border-radius: 10px;
  text-align: center;
  padding-top: 2.5px;
  margin-right: 15px;
}

.content-upper_bravo {
  font-family: Barlow Condensed;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 5px;
  color: #242942;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.content-mid {
  padding: 0 32px 0 42px;
}

.content-mid_charlie {
  font-family: Barlow Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #242942;
}

.content-mid_delta {
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
  color: #242942;
  mix-blend-mode: normal;
  opacity: 0.75;
  margin-top: 15px;
}

.content-lower {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 25px 32px 0 42px;
}

.content-lower_echo {
  background: #ff5e5e;
  border-radius: 5px;
  width: 153px;
  height: 40px;
  border: none;
  font-family: "Barlow Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.933333px;
  color: #ffffff;
  cursor: pointer;
  margin-right: 15px;
}

.content-lower_echo:hover {
  background-color: indianred;
  color: hsl(230, 29%, 20%);
}

.content-lower_foxtrot {
  font-family: "Barlow Condensed", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #242942;
  mix-blend-mode: normal;
  opacity: 0.5;
}

/* Body Component */
